 
<div id="chat-log"></div>
<input id="chat-message-input" type="text" autocomplete="off">
<button id="chat-message-submit">Send</button>

<script>
    const roomName = "{{ room_name }}";
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    );

    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.querySelector('#chat-log').innerHTML += ('<b>' + data.username + ':</b> ' + data.message + '<br>');
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'message': message,
            'username': '{{ request.user.username }}'
        }));
        messageInputDom.value = '';
    };
</script>
